<template>
  <div>
    <!-- <h1>{{ message }}</h1> -->
    <!-- <element-view></element-view> -->

    <!-- 员工管理 -->
    <!-- <emp-view></emp-view> -->

    <router-view></router-view>
  </div>
</template>

<script>
import axios from 'axios';
// 导入需要注册的组件，如果不需要可以注释掉
// import EmpView from './views/tlias/EmpView.vue';
// import ElementView from './views/element/ElementView.vue';

export default {
  // 注册需要的组件，如果不需要可以注释掉
  // components: { EmpView, ElementView },
  data() {
    return {
      message: 'Hello vue222'
    };
  },
  created() {
    // 设置 Axios 的全局配置
    axios.defaults.baseURL = 'http://localhost:8081'; // 后端服务地址，根据实际情况修改
    axios.defaults.timeout = 5000; // 请求超时时间
    // 可以添加其他全局的 Axios 配置，如拦截器等

    // 将 Axios 实例挂载到 Vue 原型链上，方便在所有子组件中使用
    this.$http = axios;
  }
};
</script>

<style>
/* 可以添加样式 */
</style>
