<template>
  <div>
    <el-container style="height: 100%; border: 1px solid #eee; background-color: white">
      <el-menu
        style="position: fixed;width: 100%;"
        :default-active="activeIndex2"
        class="el-menu-demo"
        mode="horizontal"
        @select="handleSelect"
        background-color="#545c64"
        text-color="#fff"
        active-text-color="#ffd04b">
        <el-menu-item index="1" @click="navigateToMine">我的</el-menu-item>
        <el-menu-item index="3" @click="navigateToVideos">视频</el-menu-item>
        <el-menu-item index="4" @click="navigateToSignIn">登录</el-menu-item>
      </el-menu>
      <el-card
        style="background-image:url('../../assets/背景.png');background-size: cover;position: absolute;width: 100%;height: 100%;top: 69px">
        <img src="../../assets/背景.png" class="reg_img">
        <el-card class="reg_card">
          <label id="title">Create Account</label>
          <label id="account_1">Nickname</label>
          <input v-model="nickname" placeholder="Please input" id="account_input_1"></input>
          <label id="password_1">Username</label>
          <input v-model="username" placeholder="Please input" style="position: absolute;height: 30px;top: 260px;" id="password_input_1"></input>
          <label id="password_2">Password</label>
          <input v-model="password" type="password" placeholder="Please input" style="position: absolute;height: 30px;top: 340px;" id="password_input_1"></input>
          <label id="password_3">Re-enter password</label>
          <input v-model="passwordConfirmation" type="password" placeholder="Please input" style="position: absolute;height: 30px;top: 420px;" id="password_input_1"></input>
          <el-button id="sign_in_1" @click="register">Create Your Account</el-button>
          <label class="reg_line"></label>
          <label id="tip_1">Already have an account ?</label>
          <a id="tip_2" @click="navigateToSignIn">Sign In</a>
        </el-card>
      </el-card>
    </el-container>
  </div>
</template>

<script>
import input from "element-ui/packages/input";
import axios from 'axios';

export default {
  data() {
    return {
      activeIndex2: '1',
      nickname: '',
      username: '',
      password: '',
      passwordConfirmation: ''
    }
  },
  computed: {
    input() {
      return input;
    }
  },
  methods: {
    handleSelect(key, keyPath) {
      console.log(key, keyPath);
    },
    navigateToVideos() {
      this.$router.push({ name: 'dept' });
    },
    navigateToSignIn() {
      this.$router.push({ name: 'sign' });
    },
    navigateToMine() {
        this.$router.push({ name: 'mine' });
    },
    register() {
      // 验证表单数据
      if (!this.nickname || !this.username || !this.password || !this.passwordConfirmation) {
        alert('请填写完整的注册信息！');
        return;
      }
      if (this.password !== this.passwordConfirmation) {
        alert('两次输入的密码不一致！');
        return;
      }

      // 发送 POST 请求到后端
      const params = {
        nickname: this.nickname,
        username: this.username,
        password: this.password
      };

      axios.post('/users', params)
        .then(response => {
          console.log('注册成功:', response);
          // 处理注册成功的逻辑，例如跳转到登录页面
          alert('注册成功！');
          this.$router.push({ name: 'sign' });
        })
        .catch(error => {
          console.error('注册失败:', error);
          // 处理注册失败的逻辑，例如提示用户注册失败原因
          alert('注册失败，请重试！');
        });
    }
  }
};
</script>

<style scoped>
/* 样式保持不变 */
@media (min-width: 500px) {
    .reg_line {
        width: 500px;
        position: absolute;
        height: 1px;
        background-color: grey;
        left: 40px;
        top: 550px
    }

    #password_input_1 {
        left: 40px;
        width: 500px;
    }

    .reg_card {
        background-color: rgb(14,14,14,0.8);
        position: absolute;
        height: 600px;
        width: 600px;
        top: 10px;
        left: 500px
    }
    #title {
        color: white;
        font-size: 60px;
        position: absolute;
        top: 20px;
        left: 40px;
    }

    #account_1 {
        color: white;
        position: absolute;
        left: 40px;
        top: 150px;
    }

    #sign_in_1 {
        width: 190px;
        height: 30px;
        background-color: gold;
        position: absolute;
        border-radius: 5px;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 480px;
        left: 195px;
    }

    .reg_img {
        opacity: 0.5;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    #password_1 {
        color: white;
        position: absolute;
        left: 40px;
        top: 230px;
    }

    #password_2 {
        color: white;
        position: absolute;
        left: 40px;
        top: 310px;
    }

    #password_3 {
        color: white;
        position: absolute;
        left: 40px;
        top: 390px;
    }

    #account_input_1 {
        position: absolute;
        height: 30px;
        width: 500px;
        left: 40px;
        top: 180px;
    }
    #tip_1 {
        color: #eeeeee;
        top: 560px;
        left: 40px;
        position: absolute;
    }

    #tip_2 {
        color: blue;
        top: 560px;
        left: 260px;
        position: absolute;
        text-decoration: underline;
    }

}

@media (max-width: 500px) {
    .reg_line {
        width: 90%;
        position: absolute;
        height: 1px;
        background-color: grey;
        left: 5%;
        top: 550px
    }

    #password_input_1 {
        left: 10px;
        width: 300px;
    }

    #account_1 {
        color: white;
        position: absolute;
        left: 10px;
        top: 150px;
    }

    #password_1 {
        color: white;
        position: absolute;
        left: 10px;
        top: 230px;
    }

    #password_2 {
        color: white;
        position: absolute;
        left: 10px;
        top: 310px;
    }

    #password_3 {
        color: white;
        position: absolute;
        left: 10px;
        top: 390px;
    }

    #account_input_1 {
        position: absolute;
        height: 30px;
        width: 300px;
        left: 10px;
        top: 180px;
    }

    #sign_in_1 {
        width: 190px;
        height: 30px;
        background-color: gold;
        position: absolute;
        border-radius: 5px;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 480px;
        left: 75px;
    }

    #tip_1 {
        color: #eeeeee;
        top: 560px;
        left: 10px;
        position: absolute;
    }

    #tip_2 {
        color: blue;
        top: 560px;
        left: 260px;
        position: absolute;
        text-decoration: underline;
    }

    .reg_card {
        background-color: rgb(14,14,14,0.8);
        position: absolute;
        height: 90%;
        width: 90%;
        top: 10px;
        left: 5%;
    }

    #title {
        color: white;
        font-size: 40px;
        position: absolute;
        top: 20px;
        left: 80px;
    }

    #account_1 {
        color: white;
        position: absolute;
        left: 10px;
        top: 150px;
    }

    .reg_img {
        opacity: 0.5;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}



</style>

