<template>
    <div>
        <el-container style="height: 100%; background-color: white;">
            <el-menu
                    style="position: absolute;width: 100%;"
                    :default-active="activeIndex2"
                    class="el-menu-demo"
                    mode="horizontal"
                    @select="handleSelect"
                    background-color="#545c64"
                    text-color="#fff"
                    active-text-color="#ffd04b">
                <el-menu-item index="1" @click="navigateToMineView">我的</el-menu-item>
                <el-menu-item index="3" @click="navigateToDeptView">视频</el-menu-item>
                <el-menu-item index="4" @click="navigateToSignView">登录</el-menu-item>
            </el-menu>
            <!-- <el-button style="position: absolute; top: 80px" type="primary" @click="showDialog">发布视频</el-button>
            <movie-dialog v-if="dialogVisible" @close="closeDialog" @addMovie="addMovie"
                          style="z-index: 999"></movie-dialog> -->
            <el-card id="card">
                <!-- 分割线 -->
                <template v-for="index in 5">
                    <label v-if="currentPage + index - 1 < movieData.length" :key="'line_' + index"
                           style="position: absolute; height: 1px; background-color: grey; width: 90%; left: 10px;"
                           :style="{ top: (240 + (index - 1) * 235) + 'px' }"></label>
                </template>

                <!-- 视频封面 -->
                <template v-for="index in 5">
                    <div v-if="currentPage + index - 1 < movieData.length" :key="'movie_cover_' + index">
                        <img v-if="movieData[currentPage + index - 1].cover"
                             :src="movieData[currentPage + index - 1].cover"
                             style="height: 225px; position: absolute;"
                             class="face"
                             :style="{ top: (10 + (index - 1) * 235) + 'px', left: '10px' }"
                             @click="navigateToSoleView(movieData[currentPage + index - 1])">
                        <video v-else
                               ref="videoElement"
                               :src="movieData[currentPage + index - 1].url"
                               style="display:none"
                               @loadeddata="captureFrame($event, currentPage + index - 1)">
                        </video>
                        <canvas v-if="!movieData[currentPage + index - 1].cover"
                                :style="{ top: (10 + (index - 1) * 235) + 'px', left: '10px' }"
                                style="position: absolute; height: 225px;"
                                @click="navigateToSoleView(movieData[currentPage + index - 1])">
                        </canvas>
                    </div>
                </template>
                <template v-for="index in 5">
                    <el-button v-if="currentPage + index - 1 < movieData.length"
                               :key="'delete_button_' + index"
                               type="danger" circle
                               style="position: absolute;"
                               class="delete_btn"
                               :style="{ top: (20 + (index-1) * 235) + 'px' }"
                               @click="deleteMovie(index + 1)"><i class="el-icon-delete"></i></el-button>
                    <!-- 视频标题 -->
                    <label v-if="currentPage + index - 1 < movieData.length" :key="'movie_title_' + index"
                           style="font-weight: bold; position: absolute;"
                           class="movie_msg_0"
                           :style="{ top: (20 + (index - 1) * 235) + 'px' }">{{
                        movieData[currentPage + index - 1].title
                        }}</label>
                    <!-- 视频描述 -->
                    <label v-if="currentPage + index - 1 < movieData.length" :key="'movie_description_' + index"
                           class="movie_msg_1"
                           style="color: grey; font-weight: bold; position: absolute;"
                           :style="{ top: (90 + (index - 1) * 235) + 'px' }">{{
                        movieData[currentPage + index - 1].description
                        }}</label>
                    <!-- 视频发布时间 -->
                    <label v-if="currentPage + index - 1 < movieData.length" :key="'movie_time_' + index"
                           style="color: grey; font-weight: bold; position: absolute;"
                           class="movie_msg_2"
                           :style="{ top: (160 + (index - 1) * 235) + 'px' }">{{
                        movieData[currentPage + index - 1].time
                        }}</label>
                </template>
            </el-card>
            <el-pagination background layout="prev, pager, next" :total="totalVideos" :page-size="5"
                           :pager-count="pagerCount" @current-change="handleCurrentChange" class="page"/>
        </el-container>
    </div>
</template>

<script>
import MovieDialog from './MovieDialog.vue';
import axios from 'axios';

export default {
    components: {
        MovieDialog
    },
    data() {
        return {
            screenWidth: window.innerWidth,
            dialogVisible: false,
            activeIndex2: '1',
            currentPage: 0,
            movieData: [],
            totalVideos: 0,
        }
    },
    methods: {
        showDialog() {
            this.dialogVisible = true;
        },
        closeDialog() {
            this.dialogVisible = false;
        },
        addMovie(movie) {
            console.log('添加电影:', movie);
        },
        handleSelect(key, keyPath) {
            console.log(key, keyPath);
        },
        deleteMovie(index) {
            // 根据index删除对应索引的电影数据
        },
        updateScreenWidth() {
            this.screenWidth = window.innerWidth;
        },
        handleCurrentChange(page) {
            this.currentPage = (page - 1) * 5;
            this.fetchVideos();
        },
        fetchVideos() {
            const token = localStorage.getItem('token');
            axios.get('/records/me/history', {
                headers: {
                    Authorization: token
                }
            })
            .then(response => {
                this.movieData = response.data.data;
                this.totalVideos = this.movieData.length;
            })
            .catch(error => {
                console.error('获取视频信息失败:', error);
            });
        },
        navigateToDeptView() {
            this.$router.push({name: 'dept'});
        },
        navigateToSignView() {
            this.$router.push({name: 'sign'});
        },
        navigateToMineView() {
            this.$router.push({name: 'mine'});
        },
        navigateToSoleView(movieData) {
            this.$router.push({
                name: 'sole',
                params: { movieId: movieData.id }});
        },
        captureFrame(event, index) {
            const videoElement = event.target;
            const canvas = this.$refs['canvas' + index][0];
            const context = canvas.getContext('2d');
            videoElement.currentTime = 1; // 1 second

            videoElement.addEventListener('seeked', () => {
                context.drawImage(videoElement, 0, 0, canvas.width, canvas.height);
                this.movieData[index].cover = canvas.toDataURL('image/png');
            }, { once: true });
        }
    },
    mounted() {
        window.addEventListener('resize', this.updateScreenWidth);
        this.fetchVideos();
    },
    computed: {
        pagerCount() {
            return this.screenWidth < 768 ? 5 : 10;
        }
    }
}
</script>

<style>
@media (max-width: 500px) {
    .page {
        position: relative;
        top: 1370px;
        left: 0;
    }

    .movie_msg_0 {
        font-size: 30px;
        left: 160px;
    }

    .movie_msg_1 {
        font-size: 20px;
        left: 160px;
    }

    .movie_msg_2 {
        font-size: 20px;
        left: 160px;
    }

    .face {
        width: 40%;
    }

    .delete_btn {
        left: 15px;
        font-size: 5px;
    }
}

@media (min-width: 500px) {
    .page {
        position: relative;
        top: 1370px;
        left: 5%;
    }
    .delete_btn {
        right: 10px;
    }

    .movie_msg_0 {
        font-size: 40px;
        left: 250px;
    }

    .movie_msg_1 {
        font-size: 20px;
        left: 250px;
    }

    .movie_msg_2 {
        font-size: 20px;
        left: 250px;
    }

    .face {
        width: 15%;
    }
}

#card {
    position: absolute;
    top: 170px;
    left: 2%;
    background-color: white;
    border-radius: 1%;
    border: 2px grey;
    padding: 2px;
    height: 180%;
    width: 90%;
}

</style>
