<template>
    <div style="background: #EEEEEE; height: 100vh">
        <el-menu
            style="width: 100%;"
            :default-active="activeIndex2"
            class="el-menu-demo"
            mode="horizontal"
            @select="handleSelect"
            background-color="#545c64"
            text-color="#fff"
            active-text-color="#ffd04b">
            <el-menu-item index="1" @click="navigateToMineView">我的</el-menu-item>
            <el-menu-item index="3" @click="navigateToDeptView">视频</el-menu-item>
            <el-menu-item index="4" @click="navigateToSignView">登录</el-menu-item>
        </el-menu>
        <div class="header" >
            <img :src="require(`../../assets/${header_img}`)" class="avatar" alt="avatar"/>
            <p class="nickname">{{ name }}</p>
        </div>
        <div class="options">
            <el-button class="option" type="default" @click="showEditDialog">修改个人信息</el-button>
            <el-button class="option" type="default" @click="navigateToEmpView">我的视频管理</el-button>
            <el-button class="option" type="default" @click="navigateToHistoryView">观看历史记录</el-button>
            <el-button type="danger" style="margin-top: 10px" @click="exit">退出登录</el-button>
        </div>


        <!-- 对话框 -->
        <el-dialog
            width="100%"
            title="修改个人信息"
            :visible.sync="dialogVisible"
            class="dialog">
            <div style="display: flex">
                <el-radio-group v-model="select">
                    <el-radio :label="1">修改昵称</el-radio>
                    <el-radio :label="2">修改密码</el-radio>
                </el-radio-group>
            </div>

            <div v-if="select === 1">
                <el-input style="margin-top: 10px" v-model="nickname" placeholder="请输入新的昵称"></el-input>
            </div>

            <div v-if="select === 2">
                <el-input class="password_input" type="password" v-model="oldPassword" placeholder="请输入旧密码"></el-input>
                <el-input class="password_input" type="password" v-model="newPassword" placeholder="请输入新密码"></el-input>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">取消</el-button>
                <el-button type="primary" @click="saveChanges">保存</el-button>
            </span>
        </el-dialog>
    </div>
</template>

<script>
import axios from 'axios';
export default {
    data() {
        return {
            nickname: '',
            select: 1,
            name: '未登录',
            activeIndex2: '1',
            header_img: 'avatar.png',
            dialogVisible: false,
            editNickname: false,
            editPassword: false,
            oldPassword: '',
            newPassword: ''
        }
    },
    name: "mine",
    mounted() {
  // 从 localStorage 中获取 token
  const token = localStorage.getItem('token');

  if (!token) {
    alert('未找到登录凭证，请重新登录！');
    return;
  }

  // 发起带有 token 的 Axios 请求
  axios.get('/users/me', {
    headers: {
      Authorization: token // 设置 Authorization 头部
    }
  })
  .then(response => {
    console.log('获取成功:', response);
    // 处理登录成功的逻辑，例如跳转到用户主页
    this.name = response.data.data.nickname;

  })
  .catch(error => {
    console.error('获取失败:', error);
    // 处理登录失败的逻辑，例如提示用户登录失败原因
    alert('获取失败，请重试！');
  });
},
    methods: {
        exit() {
            localStorage.clear();
            this.$router.push({ name: 'sign' });
        },
        saveChanges() {
            if (this.select === 1) {
                // 如果选择修改昵称，则更新 name
                // 从 localStorage 中获取 token
            const token = localStorage.getItem('token');

            if (!token) {
                alert('未找到登录凭证，请重新登录！');
                return;
            }
            if (!this.nickname) {
                alert('昵称不能为空');
                return;
            }
            // 发起带有 token 的 Axios 请求
            axios.patch('/users/me/nickname', { nickname: this.nickname },
            {
                headers: {
                Authorization: token // 设置 Authorization 头部
                }
            })
            .then(response => {
                console.log('更改成功:', response);
                // 处理登录成功的逻辑，例如跳转到用户主页

            })
            .catch(error => {
                console.error('更改失败:', error);
                // 处理登录失败的逻辑，例如提示用户登录失败原因
                alert('更改失败，请重试！');
            });

                this.name = this.nickname;
            } else if (this.select === 2) {
                const token = localStorage.getItem('token');

            if (!token) {
                alert('未找到登录凭证，请重新登录！');
                return;
            }
            if (!this.oldPassword) {
                alert('请输入旧密码');
                return;
            }
            if (!this.newPassword) {
                alert('请输入新密码');
                return;
            }
            // 发起带有 token 的 Axios 请求
            axios.patch('/users/me/password', { old_pwd: this.oldPassword,new_pwd:this.newPassword },
            {
                headers: {
                Authorization: token // 设置 Authorization 头部
                }
            })
            .then(response => {
                console.log('更改成功:', response);
                // 处理登录成功的逻辑，例如跳转到用户主页

            })
            .catch(error => {
                console.error('更改失败:', error);
                // 处理登录失败的逻辑，例如提示用户登录失败原因
                alert('更改失败，请重试！');
            });
            }

            this.dialogVisible = false; // 关闭对话框
        },
        handleSelect(key, keyPath) {
            console.log(key, keyPath);
        },
        navigateToSignView() {
            this.$router.push({ name: 'sign' });
        },
        navigateToDeptView() {
            this.$router.push({ name: 'dept' });
        },
        navigateToMineView() {
            this.$router.push({ name: 'mine' });
        },
        navigateToEmpView() {
            this.$router.push({ name: 'emp' });
        },
        navigateToHistoryView() {
            this.$router.push({ name: 'history' });
        },
        showEditDialog() {
            this.dialogVisible = true;
            this.editNickname = false;
            this.editPassword = false;
            this.oldPassword = '';
            this.newPassword = '';
        }
    }
}
</script>

<style scoped>
.password_input {
    margin-top: 10px;
}

.dialog {
    width: 100%;
}

.options {
    text-align: center;
    margin-top: 30%;
    border: 1px solid black;
    border-bottom: transparent;
    border-left: transparent;
    border-right: transparent;
}

.option {
    border-top: 1px solid black;
    width: 100%;
    border-radius: 0;
    margin-left: 0;
}

.nickname {
    margin-bottom: 10px;
    color: white;
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
}

.header {
    background: #999;
    height: 150px;
    width: 100%;
    text-align: center;
}

.avatar {
    margin-top: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
</style>
