<template>
    <div class="dialog-overlay">
        <div class="dialog">
            <h2 style="color: white; font-size: 40px">添加视频</h2>
            <label class="input_1">URL: </label>
            <input class="input_1_1" type="file" @change="handleFileChange" />
            <label class="input_2">描述: </label>
            <input class="input_2_2" type="text" v-model="description" />
            <label class="input_4">标题: </label>
            <input class="input_4_4" type="text" v-model="title" />
            <div class="buttons">
                <button @click="cancel" style="position: absolute; top: 500px; margin-left: 80px">Cancel</button>
                <button @click="submit" style="position: absolute; top: 500px; margin-left: 240px">Submit</button>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    data() {
        return {
            file: null,
            description: '',
            title: ''
        };
    },
    methods: {
        handleFileChange(event) {
            this.file = event.target.files[0];
        },
        cancel() {
            // 清空输入框并隐藏对话框
            this.file = null;
            this.description = '';
            this.title = '';
            this.$emit('close');
        },
        submit() {
    if (!this.file || !this.title || !this.description) {
        alert('所有字段都是必填的');
        return;
    }

    const token = localStorage.getItem('token');
    if (!token) {
        alert('未找到登录凭证，请重新登录！');
        return;
    }

    const formData = new FormData();
    formData.append('file', this.file);
    formData.append('title', this.title);
    formData.append('description', this.description);

    axios.post('/videos', formData, {
        headers: {
            'Content-Type': 'multipart/form-data',
            Authorization: token
        }
    })
    .then(response => {
            alert('视频上传成功');
            this.$emit('videoAdded', response.data.data);
            this.cancel();
    })
    .catch(error => {
        console.error('视频上传失败:', error);
        alert('视频上传失败，请重试！');
    });
}

    }
};
</script>

<style scoped>
.input_1 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 230px;
    margin-left: 20px;
}

.input_1_1 {
    position: absolute;
    top: 230px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    height: 25px;
    font-size: 16px;
    margin-left: 120px;
}

.input_1_1::file-selector-button {
    background-color: #1E9FFF;
    border: 1px solid #1E9FFF;
    cursor: pointer;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
}

.input_2 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 270px;
    margin-left: 20px;
}

.input_2_2 {
    position: absolute;
    top: 270px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    height: 25px;
    font-size: 16px;
    margin-left: 120px;
}

.input_4 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 350px;
    margin-left: 20px;
}

.input_4_4 {
    position: absolute;
    top: 350px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    height: 25px;
    font-size: 16px;
    margin-left: 120px;
}

.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(14, 14, 14, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog {
    background-color: rgba(34, 34, 34, 0.7);
    padding: 20px;
    height: 500px;
    width: 400px;
    border-radius: 8px;
}

.buttons {
    margin-top: 20px;
}

button {
    margin-left: 10px;
}
</style>
