<template>
  <div>
    <el-container style="height: 100%; border: 1px solid #eee; background-color: white; width: 100%">
      <el-menu
        style="position: fixed;width: 100%;height: 100%"
        :default-active="activeIndex2"
        class="el-menu-demo"
        mode="horizontal"
        @select="handleSelect"
        background-color="#545c64"
        text-color="#fff"
        active-text-color="#ffd04b">
        <el-menu-item index="1" @click="navigateToMineView">我的</el-menu-item>
        <el-menu-item index="3" @click="navigateToDeptView">视频</el-menu-item>
        <el-menu-item index="4">登录</el-menu-item>
      </el-menu>
      <el-card
        style="background-image:url('../../assets/背景.png');background-size: cover;position: absolute;width: 100%;height: 100%;top: 69px">
        <img src="../../assets/背景.png" class="log_img">
        <el-card class="login_card">
          <label id="title">Sign In</label>
          <label id="account">Username</label>
          <input v-model="username" id="account_input" placeholder="Please input"></input>
          <label id="password">Password</label>
          <input v-model="password" id="password_input" type="password" placeholder="Please input"></input>
          <el-button id="sign_in" @click="login">Sign In</el-button>
          <label class="log_line1"></label>
          <label class="log_line2"></label>
          <label id="tip">New Account ?</label>
          <el-button id="create_new" @click="navigateToCreateView">Create your new account</el-button>
        </el-card>
      </el-card>
    </el-container>
  </div>
</template>

<script>
import axios from 'axios';
import input from "element-ui/packages/input";

export default {
  name: "SignIn",
  data() {
    return {
      activeIndex2: '1',
      username: '',
      password: ''
    }
  },
  computed: {
    input() {
      return input;
    }
  },
  methods: {
    handleSelect(key, keyPath) {
      console.log(key, keyPath);
    },
    navigateToDeptView() {
      this.$router.push({ name: 'dept' });
    },
    navigateToCreateView() {
      this.$router.push({ name: 'create' });
    },
    navigateToMineView() {
      this.$router.push({ name: 'mine' });
    },
    login() {
      // 验证表单数据
      if (!this.username || !this.password) {
        alert('请填写完整的登录信息！');
        return;
      }

      // 发送 POST 请求到后端
      const params = {
        username: this.username,
        password: this.password
      };

      axios.post('/sessions', params)
        .then(response => {
          console.log('登录成功:', response);
          // 处理登录成功的逻辑，例如跳转到用户主页
          const token = response.data.data;
          localStorage.setItem('token', token);
          alert('登录成功！');
          this.$router.push({ name: 'mine' });
        })
        .catch(error => {
          console.error('登录失败:', error);
          // 处理登录失败的逻辑，例如提示用户登录失败原因
          alert('登录失败，请重试！');
        });
    }
  }
};
</script>

<style scoped>
@media (min-width: 500px) {
    .log_line1 {
        width: 160px;
        position: absolute;
        height: 1px;
        background-color: grey;
        left: 40px;
        top: 380px;
    }

    .log_line2 {
        width: 160px;
        position: absolute;
        height: 1px;
        background-color: grey;
        left: 385px;
        top: 380px
    }

    .login_card {
        background-color: rgb(14,14,14,0.8);
        position: absolute;
        height: 500px;
        width: 600px;
        top: 80px;
        left: 500px
    }
    #title {
        color: white;
        font-size: 60px;
        position: absolute;
        top: 20px;
        left: 40px;
    }

    #account {
        color: white;
        position: absolute;
        left: 40px;
        top: 150px;
    }

    #password {
        color: white;
        position: absolute;
        left: 40px;
        top: 230px;
    }

    #password_input {
        position: absolute;
        height: 30px;
        width: 500px;
        left: 40px;
        top: 260px;
    }

    #account_input {
        position: absolute;height: 30px;width: 500px;left: 40px;top: 180px;
    }

    #sign_in {
        width: 75px;
        height: 30px;
        background-color: gold;
        position: absolute;
        border-radius: 5px;
        text-align: center;align-items: center;display: flex;justify-content: center;
        position: absolute;
        top: 320px;
        left: 250px;
    }

    #tip {
        color: #eeeeee;
        top: 370px;
        left: 235px;
        position: absolute;
    }

    #create_new {
        width: 200px;
        height: 30px;
        background-color: white;
        position: absolute;
        border-radius: 5px;
        text-align: center;align-items: center;display: flex;justify-content: center;
        position: absolute;
        top: 420px;
        left: 190px;
    }

    .log_img {
        opacity: 0.5;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

@media (max-width: 500px) {

    .log_line1 {
        width: 80px;
        position: absolute;
        height: 1px;
        background-color: grey;
        left: 5px;
        top: 380px;
    }

    .log_line2 {
        width: 80px;
        position: absolute;
        height: 1px;
        background-color: grey;
        right: 5px;
        top: 380px
    }

    #password_input {
        position: absolute;
        height: 30px;
        width: 300px;
        left: 10px;
        top: 260px;
    }

    .login_card {
        background-color: rgb(14,14,14,0.8);
        position: absolute;
        height: 500px;
        width: 90%;
        top: 80px;
        left: 5%;
    }
    #title {
        color: white;
        font-size: 60px;
        position: absolute;
        top: 20px;
        left: 80px;
    }

    #account {
        color: white;
        position: absolute;
        left: 10px;
        top: 150px;
    }

    #password {
        color: white;
        position: absolute;
        left: 10px;
        top: 230px;
    }

    #account_input {
        position: absolute;
        height: 30px;
        width: 300px;
        left: 10px;
        top: 180px;
    }

    #sign_in {
        width: 75px;
        height: 30px;
        background-color: gold;
        position: absolute;
        border-radius: 5px;
        text-align: center;align-items: center;display: flex;justify-content: center;
        position: absolute;
        top: 320px;
        left: 125px;
    }

    #tip {
        color: #eeeeee;
        top: 370px;
        left: 115px;
        position: absolute;
    }

    #create_new {
        width: 200px;
        height: 30px;
        background-color: white;
        position: absolute;
        border-radius: 5px;
        text-align: center;align-items: center;display: flex;justify-content: center;
        position: absolute;
        top: 420px;
        left: 65px;
    }

    .log_img {
        opacity: 0.5;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}
</style>
