<template>
  <div class="tel-view" ref="telView">
    <div class="video-container" v-if="videoSource">
      <video-player :source="videoSource" @play="recordWatch" />
    </div>
    <div class="content" v-if="currentVideo">
      <h3>{{ currentVideo.title }}</h3>
      <p>{{ currentVideo.description }}</p>
      <el-button @click="scrollToPrevious">Back to Previous Tel-View</el-button>
      <el-button @click="scrollToNext">Scroll to Next Tel-View</el-button>
      <el-button :style="{ color: likeColor }" @click="toggleLike">
        <i :class="[isLiked ? 'liked' : '']"></i> ♥ 点赞
      </el-button>
      <p>当前点赞人数 {{ currentVideo.like }}</p>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import VideoPlayer from './VideoPlayer.vue';

export default {
  props: {
    videoSource: String,
    videoData: Object
  },
  data() {
    return {
      isLiked: false,
      likeColor: 'black'
    };
  },
  computed: {
    currentVideo() {
      return this.videoData || {};
    }
  },
  components: {
    VideoPlayer
  },
  methods: {
    scrollToPrevious() {
      this.$emit('scrollToPrevious');
    },
    scrollToNext() {
      this.$emit('scrollToNext');
    },
    toggleLike() {
      if (this.isLiked) {
        alert('已点赞');
        return; // 已点赞过，不重复请求
      }

      const token = localStorage.getItem('token');
      axios.post(`/videos/${this.currentVideo.id}/like`, {}, {
        headers: {
          Authorization: token
        }
      })
      .then(response => {
        this.isLiked = true;
        this.currentVideo.like += 1;
        this.likeColor = 'red';
      })
      .catch(error => {
        console.error('点赞失败:', error);
        alert('点赞失败，请重试！');
      });
    },
    recordWatch() {
      const token = localStorage.getItem('token');
      axios.post(`/videos/${this.currentVideo.id}/record`, {}, {
        headers: {
          Authorization: token
        }
      })
      .then(response => {
        if (response.data.code !== 200) {
          console.warn('记录观看失败:', response.data.message);
        }
      })
      .catch(error => {
        console.error('记录观看失败:', error);
      });
    }
  }
};
</script>

<style scoped>
.tel-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: grey;
  height: 95vh;
  margin-bottom: 20px;
  background: #fff;
}

.video-container {
  width: 100%;
  max-width: 800px;
  margin-bottom: 10px;
}

.content {
  width: 100%;
  text-align: center;
}

.tel-view button {
  margin: 10px;
}
</style>
