<template>
    <div id="tik-view" @wheel.prevent @touchmove.prevent>
      <el-menu
        style="position: fixed;width: 100%;"
        :default-active="activeIndex2"
        class="el-menu-demo"
        mode="horizontal"
        @select="handleSelect"
        background-color="#545c64"
        text-color="#fff"
        active-text-color="#ffd04b">
        <el-menu-item index="1" @click="navigateToMineView">我的</el-menu-item>
        <el-menu-item index="3" @click="navigateToDeptView">视频</el-menu-item>
        <el-menu-item index="4" @click="navigateToSignView">登录</el-menu-item>
      </el-menu>
      <tel-view
        v-for="(tel, index) in numberOfTelViews"
        :key="index"
        :index="index"
        ref="telViews"
        @scrollToNext="scrollToNextTelView"
        @scrollToPrevious="scrollToPreviousTelView"
        :videoSource="getVideoSource(index)"
        :videoData="getVideoData(index)"
      />
      <div style="position: fixed; bottom: 20px; right: 20px;">
        <el-button type="primary" @click="refreshVideos">刷新视频</el-button>
      </div>
    </div>
  </template>

  <script>
  import TelView from './TelView.vue';
  import axios from 'axios';

  export default {
    components: {
      TelView
    },
    data() {
      return {
        numberOfTelViews: 5,
        currentTelViewIndex: 0,
        videoSources: [],
        videoData: [],
        activeIndex2: '1'
      };
    },
    created() {
      this.loadVideos();
    },
    methods: {
      handleSelect(key, keyPath) {
        console.log(key, keyPath);
      },
      scrollToNextTelView() {
        if (this.currentTelViewIndex < this.numberOfTelViews - 1) {
          this.currentTelViewIndex++;
          const nextTelView = this.$refs.telViews[this.currentTelViewIndex];
          if (nextTelView) {
            nextTelView.$el.scrollIntoView({ behavior: 'smooth' });
          }
        } else {
          alert('已经是最后一个视频');
        }
      },
      scrollToPreviousTelView() {
        if (this.currentTelViewIndex > 0) {
          this.currentTelViewIndex--;
          const prevTelView = this.$refs.telViews[this.currentTelViewIndex];
          if (prevTelView) {
            prevTelView.$el.scrollIntoView({ behavior: 'smooth' });
          }
        } else {
          alert('已经是第一个视频');
        }
      },
      navigateToSignView() {
        this.$router.push({ name: 'sign' });
      },
      navigateToDeptView() {
        this.$router.push({ name: 'dept' });
      },
      navigateToMineView() {
        this.$router.push({ name: 'mine' });
      },
      refreshVideos() {
        window.scrollTo({
          top: 0,
          behavior: 'smooth'
        });
        this.loadVideos();
        setTimeout(()=>{
          window.location.reload();
        },1000);
      },
      loadVideos() {
        const token = localStorage.getItem('token');

        if (!token) {
          alert('未找到登录凭证，请重新登录！');
          return;
        }

        axios.get('/videos', {
          headers: {
            Authorization: token
          },
          params: {
            orderBy: 'like',
            watched: false
          }
        })
        .then(response => {
          this.videoData = response.data.data;
          this.videoSources = this.videoData.map(video => video.url);
        })
        .catch(error => {
          console.error('获取失败:', error);
          alert('获取失败，请重试！');
        });
      },
      getVideoSource(index) {
        if (index < this.videoSources.length) {
          return this.videoSources[index];
        } else {
          return 'https://example.com/video3.mp4';
        }
      },
      getVideoData(index) {
        if (index < this.videoData.length) {
          return this.videoData[index];
        } else {
          return {};
        }
      }
    }
  };
  </script>

  <style scoped>
  #tik-view {
    text-align: center;
    height: 3600px;
    background: grey;
    overflow-y: auto;
    overflow-x: hidden;
  }
  </style>
