<template>
    <div class="video-player">
        <video :src="source" controls @play="handlePlay"></video>
    </div>
</template>

<script>
export default {
    props: ['source'],
    methods: {
        handlePlay() {
            this.$emit('play');
        }
    }
};
</script>

<style scoped>
.video-player {
    width: 100%;
}

.video-player video {
    width: 100%;
}
</style>

